<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE 
mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev">
	<select 
		id="selectOne" 
		resultType="mydb.beans.AddressBookBean"
		parameterType="Integer">
		select * from address_book where num=#{num}
	</select>
	
	<insert 
	    id="insertAddressBook" 
	    parameterType="mydb.beans.AddressBookBean">
		insert into
		address_book(NUM, NAME, ADDRESS, BIRTHDAY)
		values
		(#{num},#{name},#{address},#{birthday})
	</insert>

	<select id="getCount" resultType="Integer">
		select count(*) from address_book
	</select>

	<select id="getMaxNum" resultType="Integer">
		select nvl(max(num+1),1) from address_book
	</select>
	

	<select 
	id="selectAll" 
	resultType="mydb.beans.AddressBookBean">
		select * from address_book
	</select>
	
	<select id="selectAddress" 
	parameterType="Integer" 
	resultType="java.util.HashMap">
		select *
		from address_book
		where num=#{num}
	</select>
	
	<!-- <insert id="insertAddress" 
	parameterType="test.mydb.beans.AddressBookBean">
		insert into
		addressbook(NUM, NAME, ADDRESS, BIRTHDAY)
		values
		(#{num},#{name},#{address},#{birthday})
	</insert> -->
	
	<delete id="deleteAddress" 
	        parameterType="Integer">
		DELETE FROM address_book
		WHERE NUM = #{num}
	</delete>
	
	<update id="updateAddress" 
	parameterType="java.util.HashMap" >
		update address_book
		set birthday = #{birthday}, name = #{name}, address =#{address}
		where num = #{num}	
	</update>
</mapper>


